.nav-bar {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.nav-bar > div {
  padding-left: 30px;
  padding-right: 30px;
}

.nav-bar > div > a {
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 650px) {
  .nav-bar {
    display: unset;
    border-radius: unset;
    border: unset;
  }
}

body {
  background-image: url("../images/2e2adcfc336e7725319ff35823d022ef.png");
  background-repeat: no-repeat;
}
