.nav-bar {
  display: flex;
  justify-content: center;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 25px;
}

.nav-bar:hover {
  background-color: lightblue;
}

.nav-bar > div {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 650px) {
  .nav-bar {
    display: unset;
    border-radius: unset;
    border: unset;
  }
}
